<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        .w3-third img{margin-bottom: -6px; opacity: 0.8; cursor: pointer}
        .w3-third img:hover{opacity: 1}
    </style>
</head><body class="w3-light-grey w3-content" style="max-width:1600px" data-new-gr-c-s-check-loaded="14.1062.0" data-gr-ext-installed="">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-white w3-text-grey w3-center" style="z-index:3;width:300px;font-weight:bold" id="mySidebar"><br>
    <h3 class="w3-padding-64 w3-center"><b>SCORE<br></b></h3>
    <h3 class="w3-padding-64 w3-center"><b><%=score%>/<%=size%><br></b></h3>
    <a href="/" class="w3-bar-item w3-button">ok</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Photo grid -->
    <div class="w3-row">
        <div class="w3-third">
            <img src="https://i.pinimg.com/564x/b5/59/86/b559869fce85976b160fab45b5943da4.jpg" style="width:100%" >
            <img src="https://i.pinimg.com/564x/de/42/a8/de42a8c55cf8d8d4fad3dc718c14d547.jpg" style="width:100%" >

        </div>

        <div class="w3-third">
            <img src="https://i.pinimg.com/564x/20/98/62/209862c4e756e62ad4fc21a8c0b95b31.jpg" style="width:100%" onclick="onClick(this)" alt="Quiet day at the beach. Cold, but beautiful">
            <img src="https://i.pinimg.com/564x/9c/ba/2f/9cba2fda651278a8fc96b17a43e07ddf.jpg" style="width:100%" onclick="onClick(this)" alt="Waiting for the bus in the desert">
            <img src="https://i.pinimg.com/564x/88/29/23/882923123ec775c37c510672db5e9894.jpg" style="width:100%" onclick="onClick(this)" alt="Nature again.. At its finest!">
        </div>
        <div class="w3-third">
            <img src="https://i.pinimg.com/564x/91/6f/d6/916fd6d58a7d526a418c568d30961079.jpg" style="width:100%" onclick="onClick(this)" alt="Canoeing again">
            <img src="https://i.pinimg.com/564x/23/3c/45/233c45e59dbd6a0597ab266c0a75bf09.jpg" style="width:100%" onclick="onClick(this)" alt="A girl, and a train passing">
            <img src="https://i.pinimg.com/564x/ee/25/40/ee2540091c311c06099e04edfeb51d5a.jpg" style="width:100%" onclick="onClick(this)" alt="What a beautiful day!">
        </div>


            </div>
        </div>
    </div>
    <!-- End page content -->
</div>



</body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></html>